<!-- base.html -->
<!-- base template for the web application -->
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Restaurant Reviews</title>
        <link rel="stylesheet" type="text/css" href="{% static 'webapp/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/base.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <!-- addition of stylesheets -->
        {% block stylesheets %}
        {% endblock stylesheets %}

        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:700" rel="stylesheet">
        <!-- addition of fonts -->
        {% block fonts %}
        {% endblock fonts %}
    </head>
    <body>
        <div class="container-fluid content-container">
            {% block content %}
            {% endblock content %}
            {% include "webapp/component/Footer.html" %}
        </div>
    </body>
    <script type="text/javascript" src="{% static 'webapp/dist/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/dist/js/bootstrap.min.js' %}"></script>

    <!-- addition of scripts -->
    {% block scripts %}
    {% endblock scripts %}
</html>