{% extends "webapp/base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'webapp/css/index.css' %}">
{% endblock stylesheets %}

{% block content %}
    {% include "webapp/component/LandingPanel.html" %}
    <div class="container-fluid grid-dining">
        <div class="container grid-dining-header">
            <h1 class="grid-dining-header-main">Restaurants in NTU</h1>
            <h2 class="grid-dining-header-sub">Browse through a comprehensive list of available restaurants</h2>
        </div>
        <div class="container grid-dining-card-group">
            <a href="">
                <div class="card grid-dining-card col-lg-4 col-md-6 col-sm-12 shadow-sm">
                    <img src="{% static 'webapp/assets/background-image.jpg' %}" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title card-main-title">Co-op @ NTU Cafe</h5>
                        <h5 class="card-title card-sub-title">Hall 1</h5>
                        <p class="card-text card-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </p>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="card grid-dining-card col-lg-4 col-md-6 col-sm-12 shadow-sm">
                    <img src="{% static 'webapp/assets/background-image.jpg' %}" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title card-main-title">Cafe4You @ SPMS</h5>
                        <h5 class="card-title card-sub-title">Hall 2</h5>
                        <p class="card-text card-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </p>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="card grid-dining-card col-lg-4 col-md-6 col-sm-12 shadow-sm">
                    <img src="{% static 'webapp/assets/background-image.jpg' %}" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title card-main-title">Sukho Thai @WKWSCI</h5>
                        <h5 class="card-title card-sub-title">Hall 3</h5>
                        <p class="card-text card-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="container grid-dining-more-link-container">
            <div class="row justify-content-center">
                <a class="grid-dining-more-link" href="">View Restaurants <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid grid-dining">
        <div class="container grid-dining-header">
            <h1 class="grid-dining-header-main">Food Court in NTU</h1>
            <h2 class="grid-dining-header-sub">Alternatively, find a food court outlet to dine in</h2>
        </div>
        <div class="container grid-dining-card-group">
            <a href="">
                <div class="card grid-dining-card col-lg-4 col-md-6 col-sm-12 shadow-sm">
                    <img src="{% static 'webapp/assets/background-image.jpg' %}" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title card-main-title">Co-op @ NTU Cafe</h5>
                        <h5 class="card-title card-sub-title">Hall 4</h5>
                        <p class="card-text card-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </p>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="card grid-dining-card col-lg-4 col-md-6 col-sm-12 shadow-sm">
                    <img src="{% static 'webapp/assets/background-image.jpg' %}" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title card-main-title">Cafe4You @ SPMS</h5>
                        <h5 class="card-title card-sub-title">Hall 5</h5>
                        <p class="card-text card-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </p>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="card grid-dining-card col-lg-4 col-md-6 col-sm-12 shadow-sm">
                    <img src="{% static 'webapp/assets/background-image.jpg' %}" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title card-main-title">Sukho Thai @WKWSCI</h5>
                        <h5 class="card-title card-sub-title">Hall 5</h5>
                        <p class="card-text card-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="container grid-dining-more-link-container">
            <div class="row justify-content-center">
                <a class="grid-dining-more-link" href="">View Food Courts Outlet <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
{% endblock content %}