<!-- search.html -->
{% extends "webapp/base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'webapp/css/search.css' %}" />
{% endblock stylesheets %}

{% block content %}
{% include "webapp/component/AppBarMain.html" %}
<div class="container-fluid container-search">
    <div class="container container-search-content">
        <h2 class="search-result-title">Displaying search result for <b>"food in NTU"</b></h2>
        <div class="container container-search-refine-box">
            <form>
                <div class="form-row form-row-segment">
                    <div class="col">
                        <input type="text" class="form-control container-search-text-box" placeholder="Search" />
                    </div>
                </div>
                <div class="form-row form-row-segment">
                    <div class="col">
                        <div class="form-check form-check-inline form-check-filter-list">
                            <input type="checkbox" class="form-check-input" />
                            <label class="form-check-label form-check-label-filter">Restaurant</label>
                        </div>
                        <div class="form-check form-check-inline form-check-filter-list">
                            <input type="checkbox" class="form-check-input" />
                            <label class="form-check-label form-check-label-filter">Food Court</label>
                        </div>
                    </div>
                    <div class="col form-row-submit-btn">
                        <input type="submit" class="btn btn-primary" value="Search" />
                    </div>
                </div>
            </form>
        </div>
        <div class="container container-search-result-box">
            <div class="container grid-dining-card-group">
                <a href="">
                    <div class="card grid-dining-card col-lg-4 col-md-6 col-sm-12 shadow-sm">
                        <img src="{% static 'webapp/assets/background-image.jpg' %}" class="card-img-top" alt="..." />
                        <div class="card-body grid-dining-card-body">
                            <h5 class="card-title card-main-title">Co-op @ NTU Cafe</h5>
                            <h5 class="card-title card-sub-title">Hall 1</h5>
                            <p class="card-text card-rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </p>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="card grid-dining-card col-lg-4 col-md-6 col-sm-12 shadow-sm">
                        <img src="{% static 'webapp/assets/background-image.jpg' %}" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title card-main-title">Cafe4You @ SPMSCafe</h5>
                            <h5 class="card-title card-sub-title">Hall 2</h5>
                            <p class="card-text card-rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </p>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="card grid-dining-card col-lg-4 col-md-6 col-sm-12 shadow-sm">
                        <img src="{% static 'webapp/assets/background-image.jpg' %}" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title card-main-title">Sukho Thai</h5>
                            <h5 class="card-title card-sub-title">Hall 3</h5>
                            <p class="card-text card-rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="container">
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link" href="">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="">1</a></li>
                    <li class="page-item"><a class="page-link" href="">2</a></li>
                    <li class="page-item"><a class="page-link" href="">3</a></li>
                    <li class="page-item"><a class="page-link" href="">4</a></li>
                    <li class="page-item"><a class="page-link" href="">5</a></li>
                    <li class="page-item"><a class="page-link" href="">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock content %}
