<!-- AppBar.html -->
<!-- app bar template for the web application -->
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'webapp/css/AppBarMain.css' %}">
<div class="container-fluid container-navbar shadow-sm">
    <div class="container">
        <nav class="navbar navbar-expand-sm ">
            <a class="navbar-brand" href="#">
                <img src="{% static 'webapp/assets/logo-brandname.png' %}" width="175" height="55" class="d-inline-block align-top" />
            </a>
            <button class="navbar-toggler navbar-toggler-btn" type="button" data-toggle="collapse" data-target="#navBarMain" aria-controls="" aria-expanded="false" aria-label="Toggle">
                <span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse navbar-separator" id="navBarMain">
                <form class="form-inline my-2 my-lg-0 ml-auto">
                    <div class="input-group">
                        <input class="form-control input-text-search" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary btn-search" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </nav>
    </div>
</div>
