.grid-dining{
    padding: 0px 0px 40px 0px;
}
.grid-dining-header{
    text-align: center;
    padding: 20px 0px 20px 0px;
}

.grid-dining-header-main{
    font-weight: 500;
    font-size: 2em;
}

.grid-dining-header-sub{
    font-weight: 300;
    font-size: 1.2em;
}

.grid-dining-card-group{
    padding: 0px;
}

.grid-dining-card-group > a:hover{
    display: initial;
    text-decoration: none;
}

.grid-dining-card{
    border-radius: 0px;
    border-color: #eeeeee;
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.grid-dining-card > .card-body{
    padding: 15px;
}

.card-main-title, .card-sub-title{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    margin-bottom: 3px;
}

.card-main-title{
    font-weight: 400;
    font-size: 1.2em;
    color: #424242;
}

.card-sub-title{
    font-weight: 300;
    font-size: 1em;
    color: #616161;
}

.card-rating{
    color: #3f51b5;
}

.grid-dining-more-link-container{
    margin-top: 40px;
}

.grid-dining-more-link{
    font-size: 1em;
    color: #3f51b5;
}

.grid-dining-more-link:hover{
    text-decoration: none;
    color: #9fa8da;
}

@media (min-width: 768px) and (max-width: 991px){
    .grid-dining-card{
        width: 49%;
    }
}

@media (min-width: 992px){
    .grid-dining-card{
        width: 33%;
    }
}