body{
    background-color: #EEEEEE;
}

.container-search{
    margin: 20px 0px 20px 0px;
}

.container-search-content{
    background-color: #FFFFFF;
    margin-top: 15px;
    padding: 20px;
    padding: 40px 20px 20px 20px;
}

.search-result-title{
    color: #f4511e;
    font-size: 1.25em;
    font-weight: 300;
    margin-bottom: 0px;
}

.container-search-refine-box{
    background-color: #f5f5f5;
    width: 100%;
    margin-top: 10px;
    padding: 20px 15px 10px 15px;
    border-radius: 5px;
}

.container-search-text-box{
    border-radius: 0px;
    border-width: 2px;
}

.container-search-text-box:focus{
    box-shadow: none;
    outline: none;
    border-color: #3f51b5;
}

.form-row-segment{
    margin: 15px 0px 15px 0px;
}

.form-row-submit-btn > input{
    float: right;
    border-radius: 0px;
    background-color: #f5f5f5;
    border-color: #3f51b5;
    color: #3f51b5;
    padding-left: 40px;
    padding-right: 40px;
}

.form-row-submit-btn > input[type="submit"]:hover{
    color: white;
    border-color: #3f51b5;
    background-color: #3f51b5;
}

.form-check-filter-list{
    padding: 5px 10px 5px 10px;
}

.form-check-label-filter{
    padding-left: 8px;
    font-size: 1em;
    font-weight: 300;
}

.container-search-result-box{
    padding: 20px 0px 20px 0px;
}

.grid-dining-card-group{
    padding: 0px;
}

.grid-dining-card-group > a:hover{
    display: initial;
    text-decoration: none;
}

.grid-dining-card{
    border-radius: 0px;
    border-color: #eeeeee;
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.grid-dining-card > .card-body{
    padding: 15px;
}

.card-main-title, .card-sub-title{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    margin-bottom: 3px;
}

.card-main-title{
    font-weight: 400;
    font-size: 1.2em;
    color: #424242;
}

.card-sub-title{
    font-weight: 300;
    font-size: 1em;
    color: #616161;
}

.card-rating{
    color: #3f51b5;
}

@media (min-width: 768px) and (max-width: 991px){
    .grid-dining-card{
        width: 49%;
    }
}

@media (min-width: 992px){
    .grid-dining-card{
        width: 33%;
    }
}